@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Barcode+39+Extended+Text&family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

body
{
    
    background-color: rgb(24, 23, 23);
}

.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-family: "Cinzel Decorative", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 30px;
}

#button
{
    font-size: 22px;
    background-color: rgb(245, 189, 8);
    font-family: "Outfit", sans-serif;
    border-radius: 5px;
    width: 102px;
    height: 33px;
    
}

#button:hover{
    cursor: pointer;
}

.mood
{
    font-family: "Outfit", sans-serif;
    color: aliceblue;
    background-color:black;
    font-size: 22px;
    width: 120px;
    
}

.select-mood
{
    font-family: "Outfit", sans-serif;
    font-size: 22px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid-container

{
    display: grid;
    grid-template-columns: repeat(7, 5fr);
    gap: 20px;
    width: 100%;
    padding-left: 48px;
    padding-right: 55px;
}

.grid-itme
{
    
    color: white;
    font-family: "Outfit", sans-serif;
    font-size: 18px;
    padding: 20px;
    height: 240px;
    width: 240px;
    display: flex;
    font-size: 21px;
    justify-content: center;
    align-items: baseline;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    border-radius: 8px; /* Optional: rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */

}

#now-playing
{
    
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 30px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    transition: opacity 0.3s ease-in;
    width: 100%;
    z-index: 1000;
    background-color: rgb(24, 23, 23);
    opacity: 1;
    }

.grid-itme:hover
{
    cursor: pointer;
    transform: translateY(-10px); /* Lift up */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}

.go-up
{
    position:fixed;
    z-index: 1000;
    bottom: 20px;
    cursor: pointer;
    color: white;
    font-size: 34px;
    display: flex;
    padding-right: 5px;
    width: 100%;
    flex-direction: row-reverse;
    text-decoration: none;
    background-color: transparent;

}

.footer
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 1rem;
    color: aliceblue;
}


@media screen and (max-width: 768px){


    .header
    {

        font-size: 18px;

    }

    .select-mood
    {
        font-size: 14px;
    }

    #now-playing
    {
        font-size: 12px;
        width: 100%;
    }

    #button
    {
        font-size: 14px;
        width: 80px;

    }


    .grid-container
    {
        display: grid;
        grid-template-columns: repeat(3, 5fr);
        padding-left: 10%;
        padding-right: 10%;
        width: 100%;
        gap: 16px;
    }

    .grid-itme
    {
        height: 100px;
        width: 100px;
        font-size: 14px;
    }

    .mood
    {
        font-size: 14px;
    }

    .go-up
{
    position:fixed;
    z-index: 1000;
    bottom: 20px;
    cursor: pointer;
    color: white;
    font-size: 34px;
    display: flex;
    padding-right: 5px;
    width: 100%;
    flex-direction: row-reverse;
    text-decoration: none;
    background-color: transparent;

}
    .footer
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 14px;
    }
    
}